@charset "UTF-8";
/* theme x Victoria Elizabeth Reguera. El Dodo - estudio de diseño y desarrollo web. www.eldodo.com.ar */

@font-face{font-family:'AvenirLTStd-Light';src:url(../fonts/AvenirLTStd-Light_gdi.eot);src:url(../fonts/AvenirLTStd-Light_gdi.eot?#iefix) format('embedded-opentype'),url(../fonts/AvenirLTStd-Light_gdi.woff) format('woff'),url(../fonts/AvenirLTStd-Light_gdi.ttf) format('truetype'),url(../fonts/AvenirLTStd-Light_gdi.svg#AvenirLTStd-Light) format('svg');font-weight:300;font-style:normal;font-stretch:normal;unicode-range:U+0020-25CA}@font-face{font-family:'AvenirLTStd-Black';src:url(../fonts/AvenirLTStd-Black_gdi.eot);src:url(../fonts/AvenirLTStd-Black_gdi.eot?#iefix) format('embedded-opentype'),url(../fonts/AvenirLTStd-Black_gdi.woff) format('woff'),url(../fonts/AvenirLTStd-Black_gdi.ttf) format('truetype'),url(../fonts/AvenirLTStd-Black_gdi.svg#AvenirLTStd-Black) format('svg');font-weight:750;font-style:normal;font-stretch:normal;unicode-range:U+0020-25CA}@font-face{font-family:'AvenirLTStd-Medium';src:url(../fonts/AvenirLTStd-Medium_gdi.eot);src:url(../fonts/AvenirLTStd-Medium_gdi.eot?#iefix) format('embedded-opentype'),url(../fonts/AvenirLTStd-Medium_gdi.woff) format('woff'),url(../fonts/AvenirLTStd-Medium_gdi.ttf) format('truetype'),url(../fonts/AvenirLTStd-Medium_gdi.svg#AvenirLTStd-Medium) format('svg');font-weight:550;font-style:normal;font-stretch:normal;unicode-range:U+0020-25CA}
i, em{font-family:'AvenirLTStd-Medium'; font-style:normal}
body{ font-family:'AvenirLTStd-Light'; color:#1b1b1d;background:url(../img/back.jpg) no-repeat center top; background-size:cover}
b, strong{font-family:'AvenirLTStd-Black'; font-weight:normal}

section.main .container{  position:relative; padding:0 40px 40px 40px; background-color:rgba(29,57,106,0.25); webkit-box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.25); box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.25); } 

header{height:auto; padding:0; position:relative; margin:20px auto 40px auto;}
header .title{ margin-top:15px; border-left:1px solid #fff}
header h1 { text-align:left;font-family:'AvenirLTStd-Light'; color:#fff; font-size:28px}
header h1 strong{ letter-spacing:1px; text-transform:uppercase}
header a.brand{ text-indent:-9999px; background:url(../img/logo.png) no-repeat center center; width:100%; height:111px; display:block; background-size:contain}

section.main .form{ padding-left:50px;}
section.main h2{font-family:'AvenirLTStd-Light';margin:0 0 10px 0}
section.main h3{ color:#ffffff; margin:0}
.main p small{ color:#1D396A; display:block; margin-bottom:10px}
.video-form article .panel{ height:575px}
section.main article.amenities{ border:1px solid #fff; padding:20px; border-radius:1px; }
section.main article.amenities header h3{ font-size:30px; margin-bottom:10px;}
section.main article.amenities figure{ display:none;}
section.main article.amenities ul{ width:100%; display:block; text-align:center; margin:0; padding:10px 0}
section.main article.amenities ul li{ display:inline-block;list-style:none; background:rgba(0,38,77,0.5); padding:15px; border-radius:1px; color:#ffffff; text-align:center; width:25%; margin:0 10px; font-size:16px;border:1px solid #fff;} 
section.main article.amenities p{ color:#fff; font-size:22px; line-height:26px; margin:0; font-family:'AvenirLTStd-Black';}
section.main article.amenities p strong{font-family:'AvenirLTStd-Light';}
footer{ height:auto;background:#ffffff; padding:60px 0 0 0; position:relative}
footer h4.foot_brand, footer a.foot_brand{ text-indent:-9999px; display:block; width:100%; height:85px; background:url(../img/logoOk.png) no-repeat center top; background-size:65%;}
footer article{ display:inline-block; padding:0 50px 0 50px; border-right:1px solid #ddd;} footer article:last-child{ border:none; padding:0 25px}
footer h6{font-family:'AvenirLTStd-Black'; text-transform:uppercase; margin:0 0 5px 0; font-size:1em; letter-spacing:2px;}
footer p{ line-height:22px;}footer span{color:#E85B10; font-size:110%; letter-spacing:1px}
footer article.social a{ display:block; width:40px; height:40px; border-radius:100%; background-color:#999999; text-align:center; line-height:42px; color:#fff; font-size:16px;-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-ms-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}
footer.home{ height:auto; padding:25px 25px 10px 0}footer.home article{ display:block}footer.home article p{font-family:'AvenirLTStd-Medium'; padding-top:50px; color:#444; font-size:18px;}
footer article.social p:first-child a:hover{ background-color:#3A5795}footer article.social p:last-child a:hover{ background-color:#CC181E}
footer .claim{ background-color:#1b1b1d; padding:10px 40px; margin-top:25px}
footer .claim p{ margin:0; color:#fff}
footer header{ margin-bottom:0}

.info header{ margin-bottom:20px }
.info h3{  border:1px solid #fff; display:block; width:auto; margin:auto !important; padding:20px; line-height:1.25 }
.info h3 strong{font-family:'AvenirLTStd-Black'; text-transform:uppercase; letter-spacing:2px; }
.info p{ font-size:1.5em; color:#fff}
/*form*/
.panel{ border:2px solid rgba(255,255,255,0.5); background:rgba(255,255,255,0.5);}
.panel.gracias{ height:auto !important; padding:20px}
.panel-heading{ margin-bottom:5px;padding:15px 10px 0 10px; text-align:center; color:#ffffff;}
.panel-heading h4{font-family:'AvenirLTStd-Black'; font-size:26px; color:#1E396A }
.panel p{ color:#2156B7; text-align:center; margin-bottom:0; line-height:16px; font-size:14px;}.panel p small{ color:#fff; margin-top:10px;}
.panel.gracias p{ color:#1b1b1d; line-height:1.5; font-size:1.25em;}.panel p small{ color:#fff; margin-top:10px;}

.form header figure{ display:none;}
.form.gracias p{ margin-bottom:10px;}
.form-group{margin-bottom:5px !important;}
.form-control{ background-color:rgba(255,255,255,0.25); border:1px solid rgba(255,255,255,0.5);color:#1E396A; height:30px; margin-bottom:0 !important;}
.btn{ margin:5px auto; color:#ffffff; font-size:16px;background: #1E396A;border:none;}
.btn:hover, .btn:active, .btn:focus{ color:#ddd;}
::-webkit-input-placeholder {color:#1E396A !important;font-size:14px;}:-moz-placeholder {color:#1E396A !important;font-size:14px; }::-moz-placeholder {color:#1E396A !important;font-size:14px;  }:-ms-input-placeholder { color:#1E396A !important; font-size:14px; }
/*login*/
body.login-form, body.login-form .container-fluid, body.login-form .container-fluid .row{ height:100vh; width:100wh; padding:0; margin:auto}
.login{position:relative;top:50%;width:350px;display:table;margin:-150px auto 0 auto;background:#fff;border-radius:4px}.legend{position:relative;width:100%;display:block;background:#E9580C;padding:15px;color:#fff;font-size:20px;}
.login .form-group{ padding:0 20px}
.submit{width: 45px;height: 45px;display: block;margin: 0 auto -15px auto;background: #fff;border-radius: 100%;border: 1px solid #FF7052;color: #FF7052;font-size: 20px;cursor: pointer;box-shadow: 0px 0px 0px 7px #fff;transition: 0.2s ease-out;}
.submit{ }
.submit:hover, .submit:focus{ background: #FF7052; color: #fff; outline: 0;}
.feedback{ position: absolute;bottom: -70px;width: 100%;text-align: center;color: #fff;background: #007B3C;padding: 10px 0;font-size: 12px;display: none;opacity: 0;}
.feedback:before{bottom: 100%;left: 50%;border: solid transparent;content: "";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(46, 204, 113, 0);
border-bottom-color: #007B3C;border-width: 10px;margin-left: -10px;}
.login .form-control{ border:1px solid #ddd}

@media (max-width:1024px){
	footer article{ padding:0 20px}
	.carousel img{ width:auto !important; height:100% !important; max-width:inherit !important}
}

@media (max-width:800px){
*{white-space:normal !important;}
body{ background:none; background-color:#ffffff; overflow-x:hidden}
.panel, .carousel{ height:auto; margin-bottom:20px;}
.col-md-8, .col-md-4{ padding:0}
section.main{ padding:10px;}
section.main .row{ margin:0 !important}section.main .form{ padding:0 !important}
section.main .container{-webkit-box-shadow:none; box-shadow:none; max-width:100% !important; padding:0;}
section.main{ background-size:cover}
section.main header.main{ margin-bottom:10px;}
section.main header.main h1.brand{ width:100%; height:125px; background-size:contain; display:block;}section.main header.main span.claim{ display:none;}
section.main .form{ padding:0 15px; text-align:center;}
.panel{ width:100%; margin:0 auto 20px auto; }
.amenities{ display:block; width:100%; position:relative !important; bottom:auto !important; }
section.main article.amenities ul{ width:auto;}
section.main article.amenities ul li{ display:block; width:100% !important; margin:0 0 10px 0 !important; }
.form header figure{ display:block;}
.form header h3{color:#1E396A;margin:0 0 20px 0;}.form header h3 strong{color:#FF5000;}
footer{ padding:20px 0; text-align:center;}
footer article{ display:block; padding:20px 0 0 0; border:none;}
footer article.social p{ display:inline-block; padding-top:20px;}
header .title{ border-left:none; border-top:1px solid #fff; background-color:#ffffff; padding-bottom:10px }
header .title h1{ text-align:center; color:#1E3968}
.video-form article .panel{ border:none; background:none; height:auto}
.panel p small{ color:#1E3968}
.video-form article.col-md-4{background-color:#1E3968}
.video-form article.col-md-4 h4, .video-form article.col-md-4 p{ color:#fff}
.form-control{ background-color:#fff}
.video-form article.col-md-4 form figure{ padding:10px 0;background-color:#fff}
.video-form article.col-md-4 form p small{color:#fff}
.info h3, .info p{color:#1E3968 !important}
footer{ padding-bottom:0}
footer h4.foot_brand, footer a.foot_brand{ background-position:center center; width:200px; height:100px; margin:auto; background-size:contain
}
