@charset "UTF-8";
/* theme x Victoria Elizabeth Reguera. El Dodo - estudio de diseño y desarrollo web. www.eldodo.com.ar */
body, html{ height:100%;}
@font-face{font-family:'AvenirLTStd-Light';src:url(../fonts/AvenirLTStd-Light_gdi.eot);src:url(../fonts/AvenirLTStd-Light_gdi.eot?#iefix) format('embedded-opentype'),url(../fonts/AvenirLTStd-Light_gdi.woff) format('woff'),url(../fonts/AvenirLTStd-Light_gdi.ttf) format('truetype'),url(../fonts/AvenirLTStd-Light_gdi.svg#AvenirLTStd-Light) format('svg');font-weight:300;font-style:normal;font-stretch:normal;unicode-range:U+0020-25CA}@font-face{font-family:'AvenirLTStd-Black';src:url(../fonts/AvenirLTStd-Black_gdi.eot);src:url(../fonts/AvenirLTStd-Black_gdi.eot?#iefix) format('embedded-opentype'),url(../fonts/AvenirLTStd-Black_gdi.woff) format('woff'),url(../fonts/AvenirLTStd-Black_gdi.ttf) format('truetype'),url(../fonts/AvenirLTStd-Black_gdi.svg#AvenirLTStd-Black) format('svg');font-weight:750;font-style:normal;font-stretch:normal;unicode-range:U+0020-25CA}@font-face{font-family:'AvenirLTStd-Medium';src:url(../fonts/AvenirLTStd-Medium_gdi.eot);src:url(../fonts/AvenirLTStd-Medium_gdi.eot?#iefix) format('embedded-opentype'),url(../fonts/AvenirLTStd-Medium_gdi.woff) format('woff'),url(../fonts/AvenirLTStd-Medium_gdi.ttf) format('truetype'),url(../fonts/AvenirLTStd-Medium_gdi.svg#AvenirLTStd-Medium) format('svg');font-weight:550;font-style:normal;font-stretch:normal;unicode-range:U+0020-25CA}
i, em{font-family:'AvenirLTStd-Medium';}
body{ font-family:'AvenirLTStd-Light'; background-color:#ddd; color:#1b1b1d}
b, strong{font-family:'AvenirLTStd-Black'; font-weight:normal}
a{ color:inherit}
a:hover, a:focus{ color:#E85B10}
div.container{-webkit-box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.25); box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.25); padding:0; position:relative; z-index:999; height:auto; display:table; background-color:#fff}
header.main{margin:0; height:auto; padding:0 40px 10px 40px; position:relative; }
header.main h1{ text-align:center;font-family:'AvenirLTStd-Light';  color:#E85B10}
header.main h1 strong{ letter-spacing:4px; display:block; text-transform:uppercase}
section.main{padding:0 40px 40px 40px; display:block; height:745px; }
section.main article.panel{ margin-top:40px}
section.main .form{ padding-left:50px;}

footer{ height:auto;background:#ffffff; padding:60px 0 0 0; position:relative}
footer h4.foot_brand, footer a.foot_brand{ text-indent:-9999px; display:block; width:100%; height:85px; background:url(../img/logoOk.png) no-repeat center top; background-size:65%;}
footer article{ display:inline-block; padding:0 50px 0 50px; border-right:1px solid #ddd;} footer article:last-child{ border:none; padding:0 25px}
footer h6{font-family:'AvenirLTStd-Black'; text-transform:uppercase; margin:0 0 5px 0; font-size:1em; letter-spacing:2px;}
footer p{ line-height:22px;}footer span{color:#E85B10; font-size:110%; letter-spacing:1px}
footer article.social a{ display:block; width:40px; height:40px; border-radius:100%; background-color:#999999; text-align:center; line-height:42px; color:#fff; font-size:16px;-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-ms-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}
footer.home{ height:auto; padding:25px 25px 10px 0}footer.home article{ display:block}footer.home article p{font-family:'AvenirLTStd-Medium'; padding-top:50px; color:#444; font-size:18px;}
footer article.social p:first-child a:hover{ background-color:#3A5795}footer article.social p:last-child a:hover{ background-color:#CC181E}
footer .claim{ background-color:#1b1b1d; padding:10px 40px; margin-top:25px}
footer .claim p{ margin:0; color:#fff}
/*carrusel*/
.carousel{ position:absolute; width:100%; height:100%; z-index:0; overflow:hidden; height:745px; margin:0 -40px;}
.carousel img{ width:auto; height:745px !important; max-width:inherit}
.carousel.fade {opacity: 1;}
.carousel.fade .item {-moz-transition: opacity ease-in-out .7s;-o-transition: opacity ease-in-out .7s;-webkit-transition: opacity ease-in-out .7s;
transition: opacity ease-in-out .7s;left: 0 !important;opacity: 0;top:0;position:absolute;width: 100%;display:block !important;z-index:1;}
.carousel.fade .item:first-child {top:auto;position:relative;}
.carousel.fade .item.active {opacity: 1;-moz-transition: opacity ease-in-out .7s;-o-transition: opacity ease-in-out .7s;-webkit-transition: opacity ease-in-out .7s;transition: opacity ease-in-out .7s;z-index:2;}
.carousel {height:745px;overflow: hidden;}
.carousel .item {-webkit-transition: opacity 1s;-moz-transition: opacity 1s;-ms-transition: opacity 1s;-o-transition: opacity 1s;transition: opacity 1s;}
.carousel .active.left, .carousel .active.right {left:0;opacity:0; z-index:2;}
.carousel .next, .carousel .prev {left:0;opacity:1;z-index:1;}
section.white header p.lead{ margin-top:15px; margin-bottom:15px;}

.white{ background-color:#E85B10; padding:20px 40px}
.white p{ color:#fff; margin-bottom:0; font-family:'AvenirLTStd-Light'; letter-spacing:2px; font-size:2em}

/*form*/
form figure{ margin:10px auto;} form figure img{ width:50%;}
.panel{ height:auto; background:rgba(255,255,255,0.7); border-radius:2px}
.panel.gracias{ height:auto !important; padding:20px; top:50%; position:relative; transform:translateY(-50%); width:50%; margin:auto}
.panel.gracias a{ margin-top:40px}
.panel-heading{ padding:10px 10px 0 10px; text-align:center; color:#ffffff;}
.panel-heading h4{font-family:'AvenirLTStd-Medium'; font-size:26px; color:#1b1b1d }
.panel p{ color:#666; text-align:center; margin-bottom:0; line-height:16px; font-size:14px;}.panel p small{ color:#1b1b1d; margin-top:10px;}
.form header figure{ display:none;}
.form.gracias p{ margin-bottom:10px;}
.form-group{margin-bottom:5px !important;}
.form-control{border:none; background-color:rgba(255,255,255,0.5);color:#E85B10; height:36px; margin-bottom:0 !important; border-radius:2px;}
.btn{height:36px; margin:5px auto; color:#ffffff; font-size:16px;background:#E85B10; border:none; border-radius:0;font-family:'AvenirLTStd-Black'; text-transform:uppercase; font-size:.8em; letter-spacing:2px}.btn:hover{ color:#ddd;}
::-webkit-input-placeholder {color:#E85B10 !important;font-size:14px;}:-moz-placeholder {color:##E85B10 !important;font-size:14px; }::-moz-placeholder {color:#E85B10 !important;font-size:14px;  }:-ms-input-placeholder { color:#E85B10!important; font-size:14px; }
figure.mobile{ display:none;}
/*select*/
div.fancy-select{position:relative; color:#E85B10}div.fancy-select.disabled{opacity:.5}div.fancy-select select:focus+div.trigger{ }div.fancy-select select:focus+div.trigger.open{box-shadow:none}div.fancy-select div.trigger{border-radius:4px;cursor:pointer;padding:7px 24px 7px 9px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;position:relative; background-color:rgba(255,255,255,0.5);border:none; color:#E85B10;width:100%;transition:all 240ms ease-out;-webkit-transition:all 240ms ease-out;-moz-transition:all 240ms ease-out;-ms-transition:all 240ms ease-out;-o-transition:all 240ms ease-out}div.fancy-select div.trigger:after{content:"";display:block;position:absolute;width:0;height:0;border:5px solid transparent;border-top-color:#E85B10;top:16px;right:9px}div.fancy-select div.trigger.open{background:#fff;border:none;color:#E85B10;box-shadow:none}div.fancy-select div.trigger.open:after{border-top-color:#E85B10}div.fancy-select ul.options{list-style:none;margin:0; padding-left:0;position:absolute;top:40px;left:0;visibility:hidden;opacity:0;z-index:50;max-height:200px;overflow:auto;background:#fff;border-radius:2px;border:none;box-shadow:0 1px 2px rgba(0,0,0,.2);min-width:200px;transition:opacity .3s ease-out,top .3s ease-out,visibility .3s ease-out;-webkit-transition:opacity .3s ease-out,top .3s ease-out,visibility .3s ease-out;-moz-transition:opacity .3s ease-out,top .3s ease-out,visibility .3s ease-out;-ms-transition:opacity .3s ease-out,top .3s ease-out,visibility .3s ease-out;-o-transition:opacity .3s ease-out,top .3s ease-out,visibility .3s ease-out}div.fancy-select ul.options.open{visibility:visible;top:40px;opacity:1;transition:opacity .3s ease-out,top .3s ease-out;-webkit-transition:opacity .3s ease-out,top .3s ease-out;-moz-transition:opacity .3s ease-out,top .3s ease-out;-ms-transition:opacity .3s ease-out,top .3s ease-out;-o-transition:opacity .3s ease-out,top .3s ease-out}div.fancy-select ul.options.overflowing{top:auto;bottom:40px;transition:opacity .3s ease-out,bottom .3s ease-out,visibility .3s ease-out;-webkit-transition:opacity .3s ease-out,bottom .3s ease-out,visibility .3s ease-out;-moz-transition:opacity .3s ease-out,bottom .3s ease-out,visibility .3s ease-out;-ms-transition:opacity .3s ease-out,bottom .3s ease-out,visibility .3s ease-out;-o-transition:opacity .3s ease-out,bottom .3s ease-out,visibility .3s ease-out}div.fancy-select ul.options.overflowing.open{top:auto;bottom:50px;transition:opacity .3s ease-out,bottom .3s ease-out;-webkit-transition:opacity .3s ease-out,bottom .3s ease-out;-moz-transition:opacity .3s ease-out,bottom .3s ease-out;-ms-transition:opacity .3s ease-out,bottom .3s ease-out;-o-transition:opacity .3s ease-out,bottom .3s ease-out}div.fancy-select ul.options li{padding:8px 12px;color:#5c5c5c;cursor:pointer;white-space:nowrap;transition:all 150ms ease-out;-webkit-transition:all 150ms ease-out;-moz-transition:all 150ms ease-out;-ms-transition:all 150ms ease-out;-o-transition:all 150ms ease-out}div.fancy-select ul.options li.selected{background:#fff;color:#E85B10}div.fancy-select ul.options li.hover{color:#E85B10;background:#fff;}

/*login*/
body.login-form, body.login-form .container-fluid, body.login-form .container-fluid .row{ height:100vh; width:100wh; padding:0; margin:auto}
.login{position:relative;top:50%;width:350px;display:table;margin:-150px auto 0 auto;background:#fff;border-radius:4px}.legend{position:relative;width:100%;display:block;background:#E9580C;padding:15px;color:#fff;font-size:20px;}
.login .form-group{ padding:0 20px}
.submit{width: 45px;height: 45px;display: block;margin: 0 auto -15px auto;background: #fff;border-radius: 100%;border: 1px solid #FF7052;color: #FF7052;font-size: 20px;cursor: pointer;box-shadow: 0px 0px 0px 7px #fff;transition: 0.2s ease-out;}
.submit{ }
.submit:hover, .submit:focus{ background: #FF7052; color: #fff; outline: 0;}
.feedback{ position: absolute;bottom: -70px;width: 100%;text-align: center;color: #fff;background: #007B3C;padding: 10px 0;font-size: 12px;display: none;opacity: 0;}
.feedback:before{bottom: 100%;left: 50%;border: solid transparent;content: "";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(46, 204, 113, 0);
border-bottom-color: #007B3C;border-width: 10px;margin-left: -10px;}
.login .form-control{ border:1px solid #ddd}

@media (max-width:1024px){
 div.container, footer{ height:auto;}
 footer article{ padding:0 25px;}
 .carousel-inner > .item > a > img, .carousel-inner > .item > img{ height:746px; max-width:inherit; width:auto;}
 section.main article.amenities h3{ margin:0;}
 section.main article.amenities ul li{ height:75px; display:inline-block; vertical-align:top; line-height:16px;}
}
@media (max-width:800px){
*{white-space:normal !important;} .row{ margin:0}
div.container{ box-shadow:none; background-color:white}
section.main{ height:auto; padding:0; margin:0}
.carousel{ display:none}
section.main header.main{ background-position:550px 50px; background-size:25%; height:120px;}section.main header.main h1.brand{ background-size:40%; height:120px; background-position:20px}
figure.mobile{ display:block; width:100%; max-width:768px !important; position:relative; margin:auto}
.white{ position:relative; width:100%; max-width:768px; margin:auto} .white figure{ padding:20px 0}
footer{ padding:30px 0}
footer.home{ padding:0; text-align:center} footer.home p{ padding:0 !important; text-align:center;}
footer h4.foot_brand, footer a.foot_brand{ background-size:200px; margin-bottom:30px; background-position:center top}
form figure{ display:none}
footer article:last-child{ float:right}
}

@media (max-width:400px){
*{white-space:normal !important;} .row{ margin:0}
div.container{ box-shadow:none; background-color:white}
section.main{ height:auto; padding:0; margin:0}
.carousel{ display:none}
section.main header.main{ background-position:center bottom; background-size:50%; height:170px;}section.main header.main h1.brand{ background-size:auto 75px; background-position:center; height:75px; border-bottom:1px solid #ddd}
figure.mobile{ display:block; width:100%; max-width:320px !important; position:relative; margin:0 auto}
.white{ position:relative; width:100%; max-width:320px; margin:auto; padding:10px} .white figure{ padding:20px 0}
footer.home{ padding:0; text-align:center} footer.home p{ padding:0 !important; text-align:center;}
.white ul{ display:block;} .white ul li{ display:block; border-bottom:2px solid #E85B10; border-right:none}
.white div.row, .mapa h4{ padding:0; text-align:center}
header.main{ padding:10px}
footer article{ display:block; border:none; text-align:center}
footer article:last-child{ float:none; width:100%;}
footer article:last-child p{ display:inline-block}
.panel.gracias{ width:100%; transform:none; top:auto; margin:0 !important}
}


