#nav,#nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-position: outside;
	position: relative;
	line-height: 25px;
        z-index: 99;
}

#nav a {
	display: block;
	/*padding: 0px 5px;*/
	color: #fff;
	text-decoration: none;
	background-color: #24491D;
	border-right: 2px solid #FFF;
	font-weight: bold;
	text-align: left;
	width: 110px;
	padding-left: 5px;
}

#nav a:hover {
	background-color: #F16221;
	color: #FFF;
}

#nav li {
	float: left;
	position: relative;
}

#nav ul {
	position: absolute;
	display: none;
	width: 110px;
	top: 25px;
	line-height: 100%;
}

#nav li ul a {
	width: 150px;
	float: left;
	height: 18px;
	padding-top: 8px;
	background-color: #FFF;
	color: #24491D;
	border-left: thin solid #24491D;
	border-right: thin solid #24491D;
	border-bottom: thin solid #24491D;
}
.submenu{
	width: 150px;
	float: left;
	height: 18px;
	padding-top: 8px;
	background-color: #FFF;
	color: #24491D;
	border-left: thin solid #24491D;
	border-right: thin solid #24491D;
	border-bottom: thin solid #24491D;
		
}
#nav ul ul {
	top: 0px;
}

#nav li ul ul {
	left: 156px;
	margin: 0px;
}

#nav li:hover ul ul,#nav li:hover ul ul ul,#nav li:hover ul ul ul ul {
	display: none;
}

#nav li:hover ul,#nav li li:hover ul,#nav li li li:hover ul,#nav li li li li:hover ul{
	display: block;
}