    <div class="top">Contacto</div>
    <div class="intra">
        <!--FILA 1-->
        <div id="div_nombre" class="celda celda_50">
            <label for="nombre" >Nombre</label><br />
            <span id="nomCli"></span>
        </div>
        <div class="celda celda_50" id="div_apellido">
            <label for="apellido" >Apellido</label><br />
            <span id="apeCli"></span>
        </div>
        <div id="div_telefono" class="celda celda_50"><label for="nombre" >Telefono</label><br />
            <span id="telCli"></span>
        </div>
        <div class="celda celda_50" id="div_email">
            <label for="email" >email</label><br />
            <span id="mailCli"></span>
        </div>
    </div>
