<tr>
    <td align='center' width='25' class='' onclick="javascript:periodos.edicion({ID_PERIODO});">
           <img src='images/building_edit.png' alt='Editar' title='Editar' border='0' >
    </td>
    <td align='center' width='25' class='' onclick="javascript:periodos.borrar({ID_PERIODO});">
           <img src='images/delete.png' alt='Borrar' title='Borrar' border='0'>
    </td>
    <td class=''>{MONTO}</td>
    <td class=''>{FEC_PERINI}</td>
    <td class=''>{FEC_PERFIN}</td>
</tr>
