<tr>
    <td align='center' width='25' class='' onclick="javascript:recibosalq.edicion({ID_RECIBO});">
           <img src='images/building_edit.png' alt='Editar' title='Editar' border='0' >
    </td>
    <td align='center' width='25' class='' onclick="javascript:recibosalq.borrar({ID_RECIBO});">
           <img src='images/delete.png' alt='Borrar' title='Borrar' border='0'>
    </td>
    <td align='center' width='25' class='' onclick="javascript:recibosalq.imprimir({ID_RECIBO});">
           <img src='images/printer.png' alt='Imprimir' title='Imprimir' border='0'>
    </td>
    <td align='center' width='25' class='' onclick="javascript:recibosrend.edicion({ID_RECIBO});">
           <img src='images/page_go.png' alt='Rendicion' title='Rendicion' border='0'>
    </td>
    <td class=''>{REC_NRO}</td>
    <td class=''>{FEC_RECIBO}</td>
    <td class=''>{MONTOMES}</td>
    <td class=''>{DIASRET}</td>
    <td class=''>{INTERESES}</td>
    <td class=''>{TOTALDESC}</td>
    <td class=''>{TOTAL}</td>
    <td class=''>{PERIODO}</td>
</tr>
