<tr>
    <td align='center' width='25' class='' onclick="javascript:contratos.edicion({ID_CONTRATO});">
           <img src='images/building_edit.png' alt='Editar' title='Editar' border='0' >
    </td>
    <td align='center' width='25' class='' onclick="javascript:contratos.borrar({ID_CONTRATO});">
           <img src='images/delete.png' alt='Borrar' title='Borrar' border='0'>
    </td>
    <td align='center' width='25' class='' onclick="javascript:contratos.recibo({ID_CONTRATO});">
           <img src='images/table_add.png' alt='Recibo' title='Recibo' border='0'>
    </td>
    <td align='center' width='25' class='' onclick="javascript:contratos.imprimir({ID_CONTRATO});">
           <img src='images/printer.png' alt='Imprimir' title='Imprimir' border='0'>
    </td>
    <td class=''>{PROPIEDAD}</td>
    <td class=''>{FEC_INI}</td>
    <td class=''>{FEC_FIN}</td>
</tr>
