<tr>
    <td align='center' width='25' class='' onclick="javascript:recdocumentos.edicion({INDICE});">
           <img src='images/building_edit.png' alt='Editar' title='Editar' border='0' >
    </td>
    <td align='center' width='25' class='' onclick="javascript:recdocumentos.borrar({INDICE});">
           <img src='images/delete.png' alt='Borrar' title='Borrar' border='0'>
    </td>
    <td class=''>{IMPUESTO}</td>
    <td class=''>{IMPORTE}</td>
    <td class=''>{CONCEPTO}</td>
</tr>
