<form name='formCargaInvolucradosContrato' id='formCargaInvolucradosContrato' method='post'>
    <div class='lista_titulo'>Clientes Relacionados al Alquiler</div>

        <table width='100%'>
            <tr>
                <td width='20%'>Seleccione Cliente: 
                </td>
                <td width='80%'>
                    <input type="text" size="50" name="buscaCli" id="buscaCli"  class="ui-autocomplete-input" value="Ingrese para buscar nombre, apellido, email, telefono, dirección..." onfocus="if (this.value == this.defaultValue) {
                                this.value = '';
                                this.style.color = '#333';
                                this.style.fontStyle = 'normal';
                            }" onblur="if (this.value == '') {
                                        this.value = this.defaultValue;
                                        this.style.color = '#CCC';
                                        this.style.fontStyle = 'italic';
                                    }" />

                    <input type='hidden'  name='ID_CLI' id='ID_CLI'  value="0"/> 
                    <input type='hidden' name='ID_INVOLUCRADO' id='ID_INVOLUCRADO' value='{ID_INVOLUCRADO}'>
                    <input type='hidden' name='INDICE' id='INDICE' value='{INDICE}'>
                </td>
            </tr>
            <tr>
                <td colspan='2'>
                    <input type='button' id='botonNuevCli' value='Cliente Nuevo ...' onclick="javascript: document.getElementById('bloque_nuevo').style.display = 'table-row'">
                </td>
            </tr>
            <tr id="bloque_nuevo" style="display: none">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                <label for="NOMBRE" >Nombre</label><br />
                                <input type="text" size="30" name="NOMBRE" id="NOMBRE" value=""/>
                            </td>
                            <td>
                                <label for="APELLIDO" >Apellido</label><br />
                                <input type="text" size="37" name="APELLIDO" id="APELLIDO" value=""/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="TELEFONO" >Telefono</label><br />
                                <input type="text" size="30" name="TELEFONO" id="TELEFONO" value=""/>
                            </td>
                            <td>
                                <label for="CELULAR" >Celular</label><br />
                                <input type="text" size="30" name="CELULAR" id="CELULAR" value=""/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <label for="MAIL" >Mail</label>
                                <input type="text" size="67" name="MAIL" id="MAIL" value=""/>
                            </td>
                        </tr>
                    </table>

                </td>

            </tr>

                <td colspan='3'>
                    <label for="NOMBRE" >Relacion</label><br />
                    <select id="ID_RELACION" name='ID_RELACION'></select>
                    <input type='hidden' id='RELACION' name='RELACION' value=''>
                </td>

            <tr>
                <td colspan='3' align='center'>
                    <input class='boton_form' type='button' value='Enviar' onclick="javascript:involucradoscont.grabar('formCargaImpuestoContrato');">
                    <input class='boton_form' type='button' value='Cancelar' onclick="javascript:involucradoscont.cancelar();">
                </td>
            </tr>
        </table>
    </form>
