<div class='pg_titulo'>
    <span onclick="javascript: impuestos.edicion(0);" ><img src="images/add.png"></span> &nbsp;&nbsp;
    Listado de Tipos de Impuestos de Propiedades
</div>
<table class='cd_tabla' width='100%' id="tabla_impuestos">
    <thead>
        <tr>
            <th class='cd_lista_titulo' colspan='2'>&nbsp;</th>
            <th class='cd_lista_titulo'>Denominacion</th>
            <th class='cd_lista_titulo'>Detalle</th>
        </tr>

    </thead>
    <tbody>
    </tbody>

</table>
