<div class='lista_titulo'>
  <div style="width:10%; float:right;">
    <span onclick="javascript: contratos.listaColeccion();"><img src="images/arrow_undo.png"></span>
  </div>
  <div style="width:10%; float:right;">
    <span onclick="javascript: recibosalq.edicion(0);"><img src="images/add.png"></span>
  </div>
  <div style="width:80%; float:left;">
  Listado de Recibos del Contrato
  </div>
</div>
<table class='cd_tabla' width='100%' id="tabla_recibosalq">
    <thead>
        <tr>
            <th class='cd_lista_titulo col_icons' colspan='4'>&nbsp;</th>
            <th class='cd_lista_titulo col_recnro'>Recibo Nro</th>
            <th class='cd_lista_titulo col_recfecha'>Fecha</th>
            <th class='cd_lista_titulo col_recimp'>Monto Mes</th>
            <th class='cd_lista_titulo col_recimp'>Retraso</th>
            <th class='cd_lista_titulo col_recimp'>Intereses</th>
            <th class='cd_lista_titulo col_recimp'>Descuentos</th>
            <th class='cd_lista_titulo col_recimp'>Total</th>
            <th class='cd_lista_titulo col_recper'>Periodo</th>
        </tr>

    </thead>
    <tbody>
    </tbody>

</table>
