<div class='lista_titulo'>
    <span onclick="javascript: periodos.edicion(0);" ><img src="images/add.png"></span> &nbsp;&nbsp;
    Listado de Valor de Alquiler x Periodo
</div>
<div>
    <table class='cd_tabla' width='100%' id="tabla_periodos">
        <thead>
            <tr>
                <th class='cd_lista_titulo col_icons' colspan='2'>&nbsp;</th>
                <th class='cd_lista_titulo col_permonto' >Monto</th>
                <th class='cd_lista_titulo col_perini'>Inicio</th>
                <th class='cd_lista_titulo col_perfin'>Fin</th>
            </tr>

        </thead>
        <tbody>
        </tbody>

    </table>
</div>
