<div class='lista_titulo'>
  <div style="width:10%; float:right;">
    <span onclick="javascript: contratos.edicion(0);"><img src="images/add.png"></span>
  </div>
  <div style="width:80%; float:left;">
    Listado de Contratos de Propiedades
  </div>
    
</div>
<table class='cd_tabla' width='100%' id="tabla_contratos">
    <thead>
        <tr>
            <th class='cd_lista_titulo col_icons3' colspan='4'>&nbsp;</th>
            <th class='cd_lista_titulo col_contprop'>Propiedad</th>
            <th class='cd_lista_titulo col_contini'>Inicio</th>
            <th class='cd_lista_titulo col_contfin'>Fin</th>
        </tr>

    </thead>
    <tbody>
    </tbody>

</table>
