<div class='lista_titulo'>
    <span onclick="javascript: recdocumentos.edicion(0);" ><img src="images/add.png"></span> &nbsp;&nbsp;
    Listado Documentos Recibidos
</div>
<div>
    <table class='cd_tabla' width='100%' id="tabla_recdocumentos">
        <thead>
            <tr>
                <th class='cd_lista_titulo col_icons' colspan='2'>&nbsp;</th>
                <th class='cd_lista_titulo col_impuesto'>Impuesto</th>
                <th class='cd_lista_titulo col_porcent'>Importe</th>
                <th class='cd_lista_titulo col_privenc'>Concepto</th>
            </tr>

        </thead>
        <tbody>
        </tbody>

    </table>
</div>
