<div class='lista_titulo'>
    <span onclick="javascript: involucradoscont.edicion(0);" ><img src="images/add.png"></span> &nbsp;&nbsp;
    Listado Involucrados en el contrato de Alquiler
</div>
<div>
    <table class='cd_tabla' width='100%' id="tabla_involucradoscont">
        <thead>
            <tr>
                <th class='cd_lista_titulo col_icons' colspan='2'>&nbsp;</th>
                <th class='cd_lista_titulo col_impuesto'>Nombre</th>
                <th class='cd_lista_titulo col_impuesto'>Apellido</th>
                <th class='cd_lista_titulo col_impuesto'>Telefono</th>
                <th class='cd_lista_titulo col_impuesto'>Celular</th>
                <th class='cd_lista_titulo col_impuesto'>eMail</th>
                <th class='cd_lista_titulo col_porcent'>Relacion</th>
            </tr>

        </thead>
        <tbody>
        </tbody>

    </table>
</div>
