<div class='lista_titulo'>
    <span onclick="javascript: impuestoscont.edicion(0);" ><img src="images/add.png"></span> &nbsp;&nbsp;
    Listado Impuestos del contrato de Alquiler
</div>
<div>
    <table class='cd_tabla' width='100%' id="tabla_impuestoscont">
        <thead>
            <tr>
                <th class='cd_lista_titulo col_icons' colspan='2'>&nbsp;</th>
                <th class='cd_lista_titulo col_impuesto'>Impuesto</th>
                <th class='cd_lista_titulo col_porcent'>Porcentaje</th>
                <th class='cd_lista_titulo col_privenc'>Primer Venc.</th>
            </tr>

        </thead>
        <tbody>
        </tbody>

    </table>
</div>
