<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<link href="css/agenda.css" rel="stylesheet" type="text/css"/>
<link href="css/vista_principal.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div style="width:1050px;">
  <div style="width:250px; float:left; margin-top:5px;"> FILTRO</div>
  <div style="width:792px; padding:0px 2px; margin:5px 0px 0px 4px; float:right;">
    <div id="tabla_tareas">
      <li style="background-color: #E8E8E8;">
        <div id="id_tarea" style="text-align:center"><strong>TAREA</strong></div>
        <div id="cliente_tarea" style="text-align:center"><strong>CLIENTE</strong></div>
        <div id="status_tarea" style="text-align:center"><strong>STATUS</strong></div>
        <div id="asoc_tarea" style="text-align:center"><strong>ID Asoc.</strong></div>
        <div class="clearfix"></div>
      </li>
      <!--DATOS -->
      <li>
        <div id="id_tarea">TAREA</div>
        <div id="cliente_tarea">CLIENTE</div>
        <div id="status_tarea">STATUS</div>
        <div id="asoc_tarea">ID Asoc.</div>
        <div class="clearfix"></div>
      </li>
      <li class="row2">
        <div id="id_tarea" class="row2">TAREA</div>
        <div id="cliente_tarea">CLIENTE</div>
        <div id="status_tarea">STATUS</div>
        <div id="asoc_tarea">ID Asoc.</div>
        <div class="clearfix"></div>
      </li>
    </div>
  </div>
</div>
</body>
</html>
