<!--<div class="top"><div class="celda_top_i">Listado de Inmuebles</div>
    <div class="celda_top_d">Se han encontrado <span id='cantProp'></span> inmuebles</div>
</div>

<div class="div_barraHerramientas">
    <div class="celda_titulo_i">{BARRA_IZQ}</div>
    <div class="celda_titulo_d">{BARRA_DER}</div>
    <div class="clearfix"></div>
</div>
-->
    
<div class="div_item_propiedades" id="div_lista_inmuebles">  
<!--    <table class="tablalista">
        <thead>
            <tr>
                <th width="9%">Operación</th>
                <th width="7%">Código</th>
                <th width="44%">Dirección</th>
                <th width="9%">Tipo</th>
                <th width="9%">Sup</th>
                <th width="10%">Amb</th>
                <th width="12%">Valor</th>
            </tr>
        </thead>
        <tbody>
                {LISTA_PROPIEDADES}
        </tbody>
    </table> 
    <div class="celda celda_100" id="botonregistrar">
        <input type="submit" name="Boton" id="Boton" value="Registrar Búsqueda" />
</div>-->
</div>  
